<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="model"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.178.34"/>
<intAttribute key="distributedNodesCount" value="1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="20"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="nextClientValue, clusterStateOnMaster, globalCheckPoint, tlog, messages, clientResponses, currentTerm, clusterStateOnNode, nextRequestId, localCheckPoint"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1AllCopiesSameContentsOnQuietDown"/>
<listEntry value="1WellFormedRoutingTable(clusterStateOnMaster.routingTable)"/>
<listEntry value="1GlobalCheckPointBelowLocalCheckPoints"/>
<listEntry value="1SameTranslogUpToGlobalCheckPoint"/>
<listEntry value="1AllAckedResponsesStored"/>
<listEntry value="1LocalCheckPointMatchesMaxConfirmedSeq"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1&lt;&gt;AllCopiesSameContents"/>
<listEntry value="1&lt;&gt;NoActiveMessages"/>
<listEntry value="1&lt;&gt;AllAckedResponsesStored"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Primary;;Primary;1;0"/>
<listEntry value="Replica;;Replica;1;0"/>
<listEntry value="Unassigned;;Unassigned;1;0"/>
<listEntry value="Nil;;Nil;1;0"/>
<listEntry value="Nodes;;{n1, n2, n3};1;1"/>
<listEntry value="DocumentIds;;{id1, id2};1;1"/>
<listEntry value="Replication;;Replication;1;0"/>
<listEntry value="TrimTranslog;;TrimTranslog;1;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="StateConstraint"/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="4"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="elasticsearch"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
