<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="model"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.178.34"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="20"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="nextClientValue, clusterStateOnMaster, globalCheckPoint, tlog, messages, store, clientResponses, crashedNodes, messageDrops, replicationStatus, currentTerm, clusterStateOnNode, nextRequestId, nextSeq, localCheckPoint"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1NoActiveMessages /\ CrashHandled /\ ClusterStateAppliedOnAllNodes =&gt; AllCopiesSameContents"/>
<listEntry value="1WellformedClusterState(clusterStateOnMaster)"/>
<listEntry value="1AllAckedResponsesStored"/>
<listEntry value="1GlobalCheckPointBelowLocalCheckPoints"/>
<listEntry value="1SameTranslogUpToGlobalCheckPoint"/>
<listEntry value="1ReplicationStatusDeterminedAfterNoMessages"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1&lt;&gt;AllCopiesSameContents"/>
<listEntry value="1&lt;&gt;NoActiveMessages"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Primary;;Primary;1;0"/>
<listEntry value="Replica;;Replica;1;0"/>
<listEntry value="Unassigned;;Unassigned;1;0"/>
<listEntry value="Nil;;Nil;1;0"/>
<listEntry value="Nodes;;{&quot;n1&quot;, &quot;n2&quot;, &quot;n3&quot;};0;0"/>
<listEntry value="DocumentIds;;{&quot;id1&quot;, &quot;id2&quot;};0;0"/>
<listEntry value="Success;;Success;1;0"/>
<listEntry value="Failed;;Failed;1;0"/>
<listEntry value="InitialClusterStates;;{[ routingTable |-&gt; [n1 |-&gt; Primary, n2 |-&gt; Replica, n3 |-&gt; Replica],&#10;  primaryTerm |-&gt; 1 ]};0;0"/>
<listEntry value="Response;;Response;1;0"/>
<listEntry value="Request;;Request;1;0"/>
<listEntry value="Replication;;Replication;1;0"/>
<listEntry value="TrimTranslog;;TrimTranslog;1;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value="messageDrops &lt;= 1 /\ nextClientValue &lt;= 3 /\ Cardinality(crashedNodes) &lt;= 1 /\ &quot;n3&quot; \notin crashedNodes"/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="4"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="elasticsearch"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
